<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login page</title>
</head>
<body>
    <h1>LOGIN PAGE</h1>

    <form action="/auth/login" method="post">
      <br />

      <div>
        <label>Email</label>
        <br />
        <input type="text" name="email" placeholder="Your email" /><br />
        <% if (errors.email) { %>
        <span style="color: red"><%= errors.email %></span>
        <% } %>
      </div>

      <br />

      <div>
        <label>Password</label>
        <br />
        <input type="password" name="password" placeholder="Your email" /><br />
        <% if (errors.password) { %>
        <span style="color: red"><%= errors.password %></span>
        <% } %>
      </div>

      <br />

      <div>
        <input type="submit" />
      </div>
</body>
</html>