<!DOCTYPE html>
<html lang="en">

<head>
    <title>home</title>
</head>

<body>
    <h1>welcome to local strategy authentication</h1>

    <button><a href="/whoami">Who Am I</a></button>
</body>

</html>